[Desktop Entry]
Version=2.0
Name=Outlook
GenericName=Outlook
Comment=Outlook
Type=Application
Icon=${SNAP}/meta/gui/outlook.png
Exec=unofficial-webapp-office.outlook
Terminal=false
Keywords=Outlook,mail,email,calendar,contacts
Categories=Office;Email;Calendar;ContactManagement;Qt
